html{
    height: 100%;
}

body{
    margin:0;
    height:100%;
}

body > div{
    height:100%;
}

.page{
    height: 100%;
}

#head{
    height:500px;
    width:100%;
    background-image: url(img/polygon.png);
    position: relative;
    background-size: cover;
    z-index:2;
}

#head span{
    z-index: 3;
    color: white;
    font-size: 27px;
    text-align: center;
    display: block;
    font-family: 幼圆;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

#head > div{
    font-size: 27px;
    position: absolute;
    width: 16%;
    left: 50%;
    bottom: 0;
    margin-bottom: -4em;
    margin-left: -4em;
    z-index:20;
}

#head img{
    width: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid #fff;
    vertical-align: middle;
    box-sizing: border-box;
}

#head + div {
    padding-top: 140px;
}

#function{
    margin:0 auto;
    width:290px;
}

.function-item{
    width: 90px;
    display: inline-block;
    border-right: 1px solid darkgray;
    padding:0 5px 0 40px;
}

.function-item img{
    width:50px;
    height: 50px;
}

.function-item span{
    display: block;
    color: #707070;
}

.function-page{
    padding: 80px 0;
    transition: 0.5s;
}

.function-page > div{
    width: 80%;
    margin:0 auto;
}

.function-page > div:first-of-type{
    margin-bottom:50px;
}

.function-page > div:first-of-type > span{
    padding:0 0 70px 0;
    font-size: 25px;
    font-weight: normal;
    display: block;
}

.input-area{
    width:45%;
    margin-right: 5%;
    display: inline-block;
    position: relative;
}

.input-area > img{
    width: 23px;
    height:23px;
    position: absolute;
    left:94%;
    top:5%;
    cursor: pointer;
}

.input-area > img:hover{
    background-color: gainsboro;
}

.input-area > div{
    width: 27px;
    position: absolute;
    left:94%;
    top:18%;
    font-size: 13px;
    color: #6d6d6d;
    visibility: hidden;
}

.input-area > span{
    position: absolute;
    left:87%;
    top:88%;
    font-size: 13px;
    color: #6d6d6d;
}

textarea{
    padding: 12px 12px 17px 12px;
    display: inline-block;
    resize: none;
}

.input{
    padding-right: 10%;
    width: 90%;
}

.function-page > div:first-of-type > textarea{
    background-color: rgb(241, 241, 241);
    width:45%;
}

select{
    height: 35px;
    width: 170px;
    line-height: 35px;
    font-size: 15px;
    margin-right: 50px;
    padding: 5px;
}

button{
    height: 35px;
    width: 105px;
    line-height: 30px;
    font-size: 15px;
    border-radius: 8px;
    text-align: center;
    box-sizing: content-box;
    text-shadow: none;
    background: #00a1d6;
    color: white;
    border: 0px;
}

button:hover{
    cursor: pointer;
    background: #00b5e5;
}

#eval-output{
    display: inline-block;
    width:45%;
    height: 120px;
}