body{
    margin:0;
}

#head{
    height:500px;
    width:100%;
    background-image: url(polygon.png);
    position: relative;
    background-size: cover;
    z-index:2;
}

#head > div{
    font-size: 27px;
    position: absolute;
    width: 16%;
    left: 50%;
    bottom: 0;
    margin-bottom: -4em;
    margin-left: -4em;
    z-index:20;
}

#head span{
    z-index: 3;
    color: white;
    font-size: 27px;
    text-align: center;
    display: block;
    font-family: 幼圆;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

#head img{
    width: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid #fff;
    vertical-align: middle;
    box-sizing: border-box;
}

#content{
    padding: 180px 0;
    transition: 0.5s;
}

#content > div{
    width: 80%;
    margin:0 auto;
}

#content > div:first-of-type{
    margin-bottom:50px;
}

#input-area{
    width:45%;
    margin-right: 5%;
    display: inline-block;
    position: relative;
}

#input-area > img{
    width: 23px;
    height:23px;
    position: absolute;
    left:94%;
    top:5%;
    cursor: pointer;
}

#input-area > img:hover{
    background-color: gainsboro;
}

#input-area > div{
    width: 27px;
    position: absolute;
    left:94%;
    top:18%;
    font-size: 13px;
    color: #6d6d6d;
    visibility: hidden;
}

#input-area > span{
    position: absolute;
    left:87%;
    top:88%;
    font-size: 13px;
    color: #6d6d6d;
}

textarea{
    padding: 12px 12px 17px 12px;
    display: inline-block;
}

#input{
    padding-right: 10%;
    width: 90%;
}

#content > div:first-of-type > textarea{
    background-color: rgb(241, 241, 241);
    width:45%;
}

select{
    height: 35px;
    width: 170px;
    line-height: 35px;
    font-size: 15px;
    margin-right: 50px;
    padding: 5px;
}

button{
    height: 35px;
    width: 105px;
    line-height: 30px;
    font-size: 15px;
    border-radius: 8px;
    text-align: center;
    box-sizing: content-box;
    text-shadow: none;
    background: #00a1d6;
    color: white;
    border: 0px;
}

button:hover{
    cursor: pointer;
    background: #00b5e5;
}
/**/