<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="index.css" rel="stylesheet">
    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.3.2/vue.min.js"></script>
    <script type="text/javascript" src="execute.js"></script>
</head>
<body>
<div>
    <div id="head">七元一次方程组</div>
    <div id="content">
        <div>
            <div id="input-area">
                <img v-on:mouseenter="clearNotice" v-on:mouseleave="removeClearNotice" v-on:click="clearInput" src="clear.png">
                <div id="clear-notice">清空内容</div>
                <span>已输入{{wordNum}}字</span>
                <textarea id="input" v-on:input="countWordNum" rows="10"></textarea>
            </div>
            <textarea rows="10" disabled="disabled"></textarea>
        </div>
        <div>
            <select id="s" v-model="selectedLanguage">
                <option v-for="language in languages" v-bind:value="language.value">{{language.text}}</option>
            </select>
            <button onclick="translateexecute()">翻译</button>
        </div>
    </div>
</div>

<script src="index.js"></script>
</body>
</html>